html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* сторінка займає всю висоту */
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  background: #f5f5f5;
}

/* ===== HEADER ===== */
header {
  padding: 40px;
  text-align: center;
  color: white;
}

/* ===== NAV ===== */
nav {
  background: #858585;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 12px;
}
nav a {
  color: #eee;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  text-decoration: underline;
}

/* ===== MAIN ===== */
main {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}
section {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
}

/* ===== FOOTER ===== */
footer {
  background: #858585;
  color: #ccc;
  text-align: center;
  padding: 20px;
}

/* ===== PHOTO ===== */
.profile-photo {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}

/* ======================
   ВІЗУАЛЬНІ ВІДМІННОСТІ
====================== */

/* Головна */
.page-home header {
  background: linear-gradient(135deg, #222, #444);
}

/* Про мене */
.page-about header {
  background: linear-gradient(135deg, #0f2027, #2c5364);
}
.page-about section {
  border-left: 6px solid #2c5364;
}

/* Лабораторні */
.page-labs header {
  background: linear-gradient(135deg, #41295a, #2f0743);
}
.page-labs section {
  border-left: 6px solid #6a1b9a;
}

/* Практичні */
.page-practical header {
  background: linear-gradient(135deg, #134e5e, #71b280);
}
.page-practical section {
  border-left: 6px solid #2e8b57;
}
